*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Libre Baskerville", serif;
}

html {
  color-scheme: dark light;
}

body {
  font-size: 16px;
  background: white;
}

.App {
  min-height: 100vh;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  position: relative;
  background: white;
  z-index: 0;
}

img,
picture,
svg,
video {
  display: block;
  max-width: 100%;
}
